RewriteEngine On

RewriteRule ^([^/.]+)/([^/.]+)$ index.php?controller=$1&action=$2 [QSA]

RewriteRule ^buckets            index.php?controller=buckets [QSA]

RewriteRule ^([^/.]+)$          index.php?controller=site&action=$1 [QSA]
